/* AlbumDetailsPage.css */
.album-details-page {
    display: inline-block;
    width: 100%;
    flex-direction: column;
    padding-top: 6vh;
}

/* Album in4 section */
#hero_section { 
    width: 100%;
    
    margin-left: 2vh;
    margin-top: 2vh;
    position: relative;
    color: white;
    max-height: 50vh;
    background: linear-gradient(to right, #1171e2 60%, #53add6 90%, #8bcbe7 100%);
  }
  
  
  #hero_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column {
    flex: 1; /* Mỗi cột chiếm đều 1/3 chiều rộng */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Sắp xếp nội dung trong cột theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều dọc */
    align-items: center; /* Căn giữa nội dung theo chiều ngang */
    height: 100%;
    padding: 2vh;
}

.column img {
  max-width: 100%;
  height: auto;
}


.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Khoảng cách đều giữa các hàng trong cột giữa */
  text-align: center;
  height: 100%; /* Đảm bảo cột giữa chiếm toàn bộ chiều cao */
}

.middle-column .row {
  flex: 1; /* Mỗi hàng trong cột giữa chiếm chiều cao bằng nhau */
  display: flex;
  justify-content: center; /* Căn giữa nội dung trong hàng */
  align-items: center;
}
  
  #hero_section p {
    text-align: justify;
    font-size: 1.0vw;
  }
  
  .hero_title {
    font-size: 3vw !important;
    font-weight: bold;
    padding-bottom: 2vh;
  }
  
  #hero_buttons {
    display: flex;
    font-size: 1.0vw;
    margin-top: 2vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #back_button {
    display: flex;
    font-size: 1.0vw;
    margin-top: 2vh;
    width: 100%;
    justify-content: left;
    align-items: left;
  }
  
  #btn_discover {
    font-weight: bold;
    border-radius: 0.5vh;
    color: white;
    background-color: #EE10B0;
    width: 9vw;
    height: 3vw;
    margin-right: 10%;
  }
  
  #btn_create_playlist {
    font-weight: bold;
    border-color: #0E9EEF;
    border-radius: 0.5vh;
    border-width: 0.2vh;
    color: #0E9EEF;
    width: 9vw;
    height: 3vw;
  }

  #btn_back {
    font-weight: bold;
    border-color: black;
    border-radius: 0.5vh;
    border-width: 0.2vh;
    color: #0E9EEF;
    width: 2vw;
    height: 2vw;
    margin-left: 3vh;
    margin-top: 2vh;
 }

 .image-button img {
    width: 2vw; 
    height: 2vw;
  }
  
  .image-button:hover {
    filter: brightness(0.7); /* Màu nền khi hover */
  }