
#itembox-container {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    border-radius: 1vh;
    color: white;
    justify-content: center;
    padding: 0.5vh 2vh;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#itembox-container:hover {
    background-color: #575757;
}

.itembox-image {
    border-radius: 1vh;
}

#itembox-container p {
    text-wrap-mode: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1vh 0.2vh;
}

#itembox-title {
    font-weight: bold;
    font-size: 2.0vh;
}

#itembox-subtitle-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.6vh;
}

#itembox-subtitle {
    flex: 1; 
    font-size: 1.6vh;
}

#itembox-subtitle-right {
    padding-left: 0.2vh;
    font-size: 1.6vh;
}

.itembox-genres {
    position: absolute;
    bottom: -18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: regular;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    padding: 10px;
    border-radius: 5px;
    font-size: 3vh;
}

.itembox-moodplaylist-img {
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: regular;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    padding: 10px;
    border-radius: 5px;
    font-size: 3vh;
}

.itembox-image-artist {
    border-radius: 15vh;
}

.itembox-video-name {
    font-Size: 20px;
    color: white;
    font-Weight: bold;
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Just Another Hand', cursive;
}

.itembox-video-artist {
    font-Size: 12px;
    color: white;
    font-Weight: light;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Just Another Hand', cursive;
}

.infor-row {
    display: flex;
    justify-content: space-between;
}


