.create-playlist-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  z-index: 9999;
  width: 40vh;
  height: fit-content;
  background: #181818;
  color: white;
  border-radius: 2vh;
  border-width: 0.1vh;
  border-color: white;
  text-align: center;
  align-items: center;
  padding: 4vh 4vh;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
}

#create-playlist-input {
  border-color: white;
  background-color: transparent;
  padding: 2vh;
  border-radius: 1vh;
  border-width: 0.2vh;
  width: 90%;
  font-size: 2vh;
}

#create-playlist-title {
  width: 90%;
  font-size: 3vh;
  font-weight: bold;
  text-align: left;
  padding-bottom: 2vh;
}

#create-playlist-buttons {
  width: 90%;
  height: 6vh;
  padding-top: 2vh;
  display: flex;
  justify-content: space-between;
}

.create-playlist-toggle {
  width: 90%;
  color: white;
  font-size: 2.4vh;
  display: flex;
  flex-direction: row;
  gap: 1vh;
  padding: 1.2vh 0vh;
}

.create-playlist-toggle .custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF;
  border-radius: 6px; /* Bo tròn góc */
  background-color: transparent;
  cursor: pointer;
  appearance: none; /* Loại bỏ checkbox mặc định */
  display: inline-block;
  position: relative;
}

/* Khi checkbox được chọn */
.create-playlist-toggle .custom-checkbox:checked {
  background-color: #007bff; /* Màu nền */
  border-color: #007bff;
}

/* Thêm dấu tích khi checked */
.create-playlist-toggle .custom-checkbox:checked::before {
  content: "✔";
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}