  /*============================================================*/
  /* Scroll bar */

  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #EE10B0;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #BE0D8D;
  }

  .hidden_scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  .hidden_scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .hidden_scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  .hidden_scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }