
.searchbar {
    display: flex;
    width: calc(100% - 4vh);
    height: 8vh;
    margin-left: 2vh;
    margin-right: 2vh;
    /* border-radius: 0.5vh; */
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    flex-direction: row;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.searchbar_left_wrapper {
    position: relative;
    width: 30%;
    height: 100%;
    min-width: 28vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.searchbar_left {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
    min-width: 18vh;
}

.searchbar_right {
    display: flex;
    width: 65%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    direction: rtl;
    min-width: 80vh;
}

#searchbox_background {
    position: absolute;
    top: 8%;
    left: 2vh;
    width: calc(100% - 2vh);
    /* min-width: 10vh;
    max-width: 280vh; */
    height: 82%;
    user-select: text;
    color: black;
}

#searchbox_button {
    position: absolute;
    left: 3vh;
    top: 20%;
    height: 60%;
}

#searchbox_input {
    font-size: 2.4vh;
    position: absolute;
    top: 8%;
    left: 8vh;
    width: calc(100% - 10vh);
    min-width: 10vh;
    max-width: 280vh;
    height: 90%;
    background-color: transparent;
    color: white;
    outline: none;
}

#searchbox_sidebar_button {
    position: relative;
    margin-left: 3vh;
    margin-right: 1vh;
    height: 4vh;
    width: 4vh;
}

.searchbar h2 {
    font-size: 3vh;
    font-weight: bold;
    color: white;
    margin-right: 3vh;
    padding-left: 1vh;
    padding-right: 1vh;
    transition: color 0.3s ease;
    cursor: pointer;
}

.searchbar h2:hover {
    color: #FAB5E7;
}

#header_login {
    font-size: 2.4vh;
    border-color: #EE10B0;
    border-radius: 0.5vh;
    border-width: 0.2vh;
    color: #EE10B0;
    width: 24vh;
    height: 7vh;
    margin-right: 2vh;
}

#header_signup {
    font-size: 2.4vh;
    border-radius: 0.5vh;
    color: white;
    background-color: #EE10B0;
    width: 24vh;
    height: 7vh;
    margin-right: 4vh;
}
