/* Sidebar.css */
.sidebar {
  position: inherit;
  top: 0;
  left: 0;
  width: 36vh;
  height: 100%;
  background-color: #181818;
  color: white;
  padding: 2vh;
  box-shadow: 0vh 0 4vh rgba(238, 16, 176, 0.7);
  display: flex;
  flex-direction: column;
  border-right-color: #EE10B0;
  border-right-width: 0.5vh;
  overflow: auto;
  overflow-x: hidden;
}
  
.sidebar h2 {
  text-align: left;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  user-select: none;
  margin: 0.5vh 0vh 0.5vh 4vh;
  padding: 0.6vh;
  font-size: 2.4vh;
  /* font-size: 2vh; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #575757;
  border-radius: 0.5vh;
}

.sidebar ul li:active {
  background-color: #EE10B0;
  border-radius: 0.5vh;
}

.sidebar ul li.active {
  background-color: #EE10B0;
  border-radius: 0.5vh;
  color: white;
}

.sidebar ul li.sidebar_header {
  cursor: default;
  background-color: transparent;
}

.sidebar ul li.sidebar_home {
  font-size: 4vh;
  font-weight: bold;
}

.sidebar ul li.default {
  font-size: 2.4vh;
}

.sidebar ul li.sidebar_header {
  font-size: 1.6vh;
  color: #EE10B0;
  margin-top: 1.2vh;
  margin-bottom: 1.2vh;
}

#sidebar_logo_wrapper {
  margin: 1vh 0vh 1vh 4vh;
  position: relative;
  width: 28vh;
  height: 6vh;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#sidebar_logo { 
  width: 22vh;
}

.sidebar ul li#sidebar_logout {
  color: #EE10B0;
}

.sidebar ul li#sidebar_add_playlist {
  color: #0E9EEF;
}

/*============================================================*/
/* Icon */

img.icon_home {
  float: left;
  vertical-align: middle;
  margin-right: 1vh;
  margin-top: 1vh;
  width: 4vh;
  height: 4vh;
}

img.icon_content {
  float: left;
  vertical-align: middle;
  margin-right: 1vh;
  margin-top: 0.7vh;
  width: 2.5vh;
  height: 2.5vh;
}

#icon_sidebar_toggle {
  position: relative;
  margin-right: 1vh;
  height: 4vh;
  width: 4vh;
}